<div class="card"> 
  <div class="card-body">
    <h2 class="card-title">
       Bienvenido a tu asistente de voz personalizados
    </h2>
   <button type = "button" class = "btn btn-primary btn-lg" (click) = "OnClickList()" >
    Lista Ingrediente
   </button>
   <button type = "button" class = "btn btn-primary btn-lg" (click) = "OnClickReceta()" >
    Recetas
  </button>
  <button type = "button" class = "btn btn-primary btn-lg" (click) = "OnClickReminder()" >
    Recordatorios
 </button>
 <div *ngIf="voiceActiveSectionDisabled; ">
  <button type = "button" class = "btn btn-primary btn-lg" (click) = "OnClickVoice()" >
    Escuchando
  </button>  
 </div>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                En que le puedo ayudar?
            </h2>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            Esperando
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
