<div class="card"> 
  <div class="card-body">
    <h2 class="card-title">
       Bienvenido a tu asistente de voz personalizados
    </h2>
   <button routerLink="/listar-ingredientes" type = "button" class = "btn btn-primary btn-lg" (click) = "OnClickList()" >
    Lista Ingrediente
   </button>
   <button routerLink="/recetas" type = "button" class = "btn btn-primary btn-lg" (click) = "OnClickReceta()" >
    Recetas
  </button>
  <button routerLink="/recordatorios" type = "button" class = "btn btn-primary btn-lg" (click) = "OnClickReminder()" >
    Recordatorios
 </button>
 <br>
 <app-comandodevoz (showText)="showData($event)" ></app-comandodevoz>
 <div></div>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                En que le puedo ayudar?
            </h2>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            {{textShow}}
          </h2>
        </div>
      </div>
      
    </div>
  </div>
</div>


<router-outlet></router-outlet>
