<div>
    <div>
        <button type = "button" class = "btn btn-primary btn-lg" (click) = "crear_ListaIngredientes()" >
            Crear Lista de Ingredientes
        </button>
    </div>
    <div class="table table-hover">
        <thead>
            <th>Listas</th>
        </thead>
        <tbody> 
        <tr *ngFor="let lista of listas" (click) = "onSelect(lista);">
            <td>{{lista.nombre}}</td>
        </tr>
        </tbody>
    </div>
</div>

<app-mostrarlista *ngIf = "selectedLista" [selectedLista] = "selectedLista"></app-mostrarlista>